<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="header"
  [nzFooter]="footer"
  nzCloseIcon=""
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="800"
>
  <ng-container *nzModalContent>
    <form [formGroup]="novoProdutoForm">
      <div
        class="row pe-4 ps-4 pt-3"
        [ngClass]="{
          'bg-dark  text-secondary': theme === 'dark',
          'bg-light text-dark': theme === 'light'
        }"
      >
        <div class="col-xl-4 mt-2">
          <label for="Nome" class="form-label"
            ><span class="text-primary"><b>Nome do Produto</b></span></label
          >
          <input
            nz-input
            name="Nome"
            id="Nome"
            formControlName="Nome"
            type="text"
            [ngClass]="{ 'is-invalid': isInvalid('Nome') }"
            placeholder=""
          />
          <div class="invalid-feedback">Nome é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label for="EAN" class="form-label"
            ><span class="text-primary"><b>EAN</b></span></label
          >
          <input
            nz-input
            name="EAN"
            id="EAN"
            formControlName="EAN"
            type="text"
            [ngClass]="{ 'is-invalid': isInvalid('EAN') }"
            placeholder=""
          />
          <div class="invalid-feedback">EAN é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label class="form-label"
            ><span class="text-primary"><b>Unidade de Medida</b></span></label
          >
          <nz-select
            formControlName="UnMedida"
            class="w-100 bg-dark"
            nzShowSearch
            nzAllowClear
            [nzDropdownRender]="renderTemplate3"
            [ngModel]="selectedUnMedida"
          >
            <nz-option
              *ngFor="let item of listUnidadeMedida"
              [nzLabel]="item.id + ' - ' + item.nome"
              [nzValue]="item.id"
            >
            </nz-option>
          </nz-select>
          <ng-template #renderTemplate3>
            <div class="dropdown-container">
              <div class="options-container">
                <nz-option
                  *ngFor="let item of listUnidadeMedida"
                  [nzLabel]="item.id + ' - ' + item.nome"
                  [nzValue]="item.id"
                >
                </nz-option>
              </div>
            </div>
          </ng-template>
        </div>

        <div class="col-xl-4 mt-2">
          <label for="EAN" class="form-label"
            ><span class="text-primary"><b>Preço Custo</b></span></label
          >
          <input
            nz-input
            name="Custo"
            id="Custo"
            formControlName="Custo"
            type="number"
            [ngClass]="{ 'is-invalid': isInvalid('Custo') }"
            placeholder=""
          />
          <div class="invalid-feedback">Custo é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label for="Venda" class="form-label"
            ><span class="text-primary"><b>Preço Venda</b></span></label
          >
          <input
            nz-input
            name="Venda"
            id="Venda"
            formControlName="Venda"
            type="number"
            [ngClass]="{ 'is-invalid': isInvalid('Venda') }"
            placeholder=""
          />
          <div class="invalid-feedback">Venda é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label for="QtdePCaixa" class="form-label"
            ><span class="text-primary"><b>Qtde. por Embalagens</b></span></label
          >
          <input
            nz-input
            name="QtdePCaixa"
            id="QtdePCaixa"
            formControlName="QtdePCaixa"
            type="number"
            [ngClass]="{ 'is-invalid': isInvalid('QtdePCaixa') }"
            placeholder=""
          />
          <div class="invalid-feedback">Qtdev PCaixa é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label for="EstoqueMin" class="form-label"
            ><span class="text-primary"><b>Estoque Mínimo (un.)</b></span></label
          >
          <input
            nz-input
            name="EstoqueMin"
            id="EstoqueMin"
            formControlName="EstoqueMin"
            type="number"
            [ngClass]="{ 'is-invalid': isInvalid('EstoqueMin') }"
            placeholder=""
          />
          <div class="invalid-feedback">Estoque minímo em unidades é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label for="EstoqueMax" class="form-label"
            ><span class="text-primary"><b>Estoque Mínimo (un.)</b></span></label
          >
          <input
            nz-input
            name="EstoqueMax"
            id="EstoqueMax"
            formControlName="EstoqueMax"
            type="number"
            [ngClass]="{ 'is-invalid': isInvalid('EstoqueMax') }"
            placeholder=""
          />
          <div class="invalid-feedback">Estoque maximo em unidades é obrigatório</div>
        </div>

        <div class="col-xl-4 mt-2">
          <label class="form-label"
            ><span class="text-primary"><b>Categoria</b></span></label
          >
          <nz-select
            formControlName="Categoria"
            class="w-100 bg-dark"
            nzShowSearch
            nzAllowClear
            [nzDropdownRender]="renderTemplate2"
            [ngModel]="selectedCategoriaProduto"
          >
            <nz-option
              *ngFor="let item of listCategoriaProduto"
              [nzLabel]="item.id + ' - ' + item.name"
              [nzValue]="item.id"
            >
            </nz-option>
          </nz-select>
          <ng-template #renderTemplate2>
            <div class="dropdown-container">
              <div class="options-container">
                <nz-option
                  *ngFor="let item of listCategoriaProduto"
                  [nzLabel]="item.id + ' - ' + item.name"
                  [nzValue]="item.id"
                >
                </nz-option>
              </div>
              <div class="footer-container">
                <input type="text" nz-input #inputElement />
                <button
                  class="btn btn-sm btn-outline-primary mt-2 ms-1"
                  (click)="addCategory(inputElement)"
                >
                  <i class="fa-solid fa-square-plus"></i> Cadastrar
                </button>
              </div>
            </div>
          </ng-template>
        </div>

        <div class="col-12">
          <hr />
        </div>
      </div>
    </form>
    <div
      class="row ps-4 pe-4"
      [ngClass]="{
        'bg-dark  text-secondary': theme === 'dark',
        'bg-light text-dark': theme === 'light'
      }"
    >
    <div class="col-12 text-secondary">
      <small
        ><b
          >*É possível adicionar mais de um fornecedor para o mesmo produto</b
        ></small
      >
    </div>
      <div class="col-xl-8">
        <label class="form-label"
          ><span class="text-primary"><b>Fornecedor</b></span></label
        >
        <nz-select
          class="w-100 bg-dark"
          nzShowSearch
          nzAllowClear
          [nzDropdownRender]="renderTemplate"
          [(ngModel)]="selectedFornecedor"
        >
          <nz-option
            *ngFor="let item of listFornecedor"
            [nzLabel]="item.id + ' - ' + item.nome"
            [nzValue]="item.id"
          >
          </nz-option>
        </nz-select>
        <div class="text-danger" *ngIf="invalidFornecedor">Selecione um fornecedor para o produto</div>
        <ng-template #renderTemplate>
          <div class="dropdown-container">
            <div class="options-container">
              <nz-option
                *ngFor="let item of listFornecedor"
                [nzLabel]="item.id + ' - ' + item.nome"
                [nzValue]="item.id"
              >
              </nz-option>
            </div>
            <div class="footer-container">
              <input type="text" nz-input #inputElement />
              <button
                class="btn btn-sm btn-outline-primary mt-2 ms-1"
                (click)="addPeople(inputElement)"
              >
                <i class="fa-solid fa-square-plus"></i> Cadastrar
              </button>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="col-xl-4 d-flex align-items-end" (click)="addFornecedor()">
        <button class="btn w-100 btn-sm btn-outline-primary">
          Adicionar Fornecedor
        </button>
      </div>

      <div class="col-12 mt-2">
        <table
          class="table table-hover rounded border table-responsive"
          [ngClass]="{
            'table-dark': theme === 'dark',
            'table-light': theme === 'light'
          }"
        >
          <thead>
            <tr>
              <th scope="col" class="text-primary">Nome</th>
              <th scope="col" class="text-primary"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listSelectedFornecedor">
              <td><span>{{ item.nome }}</span></td>
              <td class="text-end">       
                <button class="btn btn-sm btn-outline-danger btn-size-table" (click)="deleteFornecedor(item.id)">
                  <i class="fa-solid fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #header>
    <div
      class="row pt-2 pe-2"
      [ngClass]="{
        'bg-dark  text-secondary': theme === 'dark',
        'bg-light text-dark': theme === 'light'
      }"
    >
      <div class="col-10"><span>Cadastrar Produto</span></div>
      <div class="col-2 d-flex justify-content-end pe-0 me-0">
        <button class="btn btn-danger btn-sm" (click)="handleCancel()">
          <i class="fa-solid fa-square-xmark"></i>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <div
      class="row bg-dark pb-2 pe-2"
      [ngClass]="{
        'bg-dark  text-secondary': theme === 'dark',
        'bg-light text-dark': theme === 'light'
      }"
    >
      <div class="col-12 d-flex justify-content-end pe-0 me-0">
        <button class="btn btn-sm btn-success" (click)="addProduto()">
          <i class="fa-solid fa-floppy-disk"></i>&nbsp; Salvar
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
