<div class="row">
  <div
    class="header-container d-flex align-items-center"
    [ngStyle]="{ 'background-image': 'url(' + getHeader() + ')' }"
  >
    <span
      class="welcome-text"
      [ngClass]="{
        'text-light': theme === 'dark',
        'text-primary': theme === 'light'
      }"
    >
      MOVIMENTAÇÕES
    </span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="row">
      <div class="col-xl-2">
        <div
          class="card bg-success-light"
          [ngClass]="{
            'text-secondary': theme === 'dark',
            'text-dark': theme === 'light'
          }"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-success">
                <b class="mt-1"
                  ><i class="fa-solid fa-square-plus"></i> Receitas</b
                >
              </div>
              <div class="col-12 text-end">
                <hr class="mt-0" />
                <span class="">{{ this.formatValor(totalReceita) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2">
        <div
          class="card bg-danger-light"
          [ngClass]="{
            'text-secondary': theme === 'dark',
            'text-dark': theme === 'light'
          }"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-danger">
                <b class="mt-1"
                  ><i class="fa-solid fa-square-minus"></i> Despesas</b
                >
              </div>
              <div class="col-12 text-end">
                <hr class="mt-0" />
                <span class="">{{ this.formatValor(totalDespesa) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2">
        <div
          class="card bg-primary-light"
          [ngClass]="{
            'text-secondary': theme === 'dark',
            'text-dark': theme === 'light'
          }"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-primary">
                <b class="mt-1"
                  ><i class="fa-solid fa-circle-dollar-to-slot"></i> Saldo</b
                >
              </div>
              <div class="col-12 text-end">
                <hr class="mt-0" />
                <span class="">{{ this.formatValor(saldo) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 hidden-sm">
        <div
          class="card h-100"
          [ngClass]="{
            'bg-dark-light': theme === 'dark',
            'bg-light': theme === 'light'
          }"
        >
          <div class="card-body"><app-movimentacoes-grafico-ano></app-movimentacoes-grafico-ano></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-0">
    <hr />
  </div>
  <div class="col-6 d-flex justify-content-start align-items-center">
    <nz-range-picker
      class="rounded"
      [ngClass]="{
        'bg-dark-light text-secondary': theme === 'dark',
        'bg-light': theme === 'light'
      }"
      [(ngModel)]="date"
      (ngModelChange)="onChange($event)"
    ></nz-range-picker>
  </div>
  <div class="col-6 d-flex justify-content-end align-items-center">
    <div class="input-group mb-3" style="width: 50%">
      <span
        class="input-group-text"
        id="basic-addon1"
        [ngClass]="{
          'bg-dark-light text-secondary': theme === 'dark',
          'bg-light': theme === 'light'
        }"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar"
        [ngClass]="{
          'bg-dark-light text-secondary': theme === 'dark',
          'bg-light': theme === 'light'
        }"
        aria-label="Pesquisar"
        aria-describedby="basic-addon1"
        (input)="filtrarMovimentacoes($event)"
      />
    </div>
  </div>

  <div class="col-12 mt-2">
    <div
      class="card"
      [ngClass]="{
        'bg-dark-light': theme === 'dark',
        'bg-light': theme === 'light'
      }"
    >
      <div class="card-body">
        <table
          class="table table-hover rounded border table-responsive"
          [ngClass]="{
            'table-dark': theme === 'dark',
            'table-light': theme === 'light'
          }"
        >
          <thead>
            <tr>
              <th scope="col" class="text-primary bg-secondary-light">Data</th>
              <th scope="col" class="text-primary">Tipo</th>
              <th scope="col" class="text-primary">Origem</th>
              <th scope="col" class="text-primary">Pessoa</th>
              <th scope="col" class="text-primary">Descricao</th>
              <th scope="col" class="text-primary">Conta</th>
              <th scope="col" class="text-primary">Valor</th>
              <th scope="col" class="text-primary"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of listaFiltrada
                  | paginate
                    : { itemsPerPage: currentQtde, currentPage: currentPage }
              "
            >
              <td
                class="bg-secondary-light"
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ formatData(item.data_inc, true) }}
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ getTipo(item.tipo) }}
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.origem }}
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.pessoa.slice(0, 15) }}...
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.descricao.slice(0, 20) }}...
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.conta }}
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ formatValor(item.valor_total) }}
              </td>
              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                <div class="row">
                  <div class="col-auto">
                    <button class="btn btn-sm btn-outline-danger">
                      <i class="fa-solid fa-trash-alt"></i>
                    </button>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-sm btn-outline-primary">
                      <i class="fa-solid fa-pen"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-6">
            <div class="input-group" style="width: 30%">
              <span class="input-group-text">Mostrar:</span>
              <select
                class="form-select"
                id="current"
                (change)="changeQtde($event)"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <pagination-controls
              (pageChange)="currentPage = $event"
              class="text-light"
              previousLabel="Anterior"
              nextLabel="Próximo"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-movimentacoes [statusModal]="isVisibleMov" [catMov]="catType" (closeEvent)="closeMov($event)"></app-movimentacoes>

<nz-modal 
    [(nzVisible)]="isVisible" 
    [nzTitle]="header"
    [nzFooter]="null"
    nzCloseIcon=""
    (nzOnCancel)="handleCancel()" 
    (nzOnOk)="handleOk()"
 >
    <ng-container *nzModalContent>
      <div class="row bg-dark pe-4 ps-4" [ngClass]="{'bg-dark  text-secondary': theme === 'dark', 'bg-light text-dark': theme === 'light'}">
        <div class="col-12 mb-5">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <button class="btn btn-lg btn-outline-primary" 
                    (click)="showMov(1)"><i class="fa-solid fa-money-bill-1"></i> 
                    Simples</button>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <button class="btn btn-lg btn-outline-primary" 
                    (click)="showMov(2)"><i class="fa-regular fa-money-bill-1"></i> 
                    Parcelada</button>
                </div>
            </div>
        </div>
      </div>
    </ng-container>
    <ng-template #header>
      <div class="row bg-dark p-4"  [ngClass]="{'bg-dark  text-secondary': theme === 'dark', 'bg-light text-dark': theme === 'light'}">
        <div class="col-10 d">
          Selecione um tipo de movimentação!
        </div>
        <div class="col-2 d-flex justify-content-end pe-0 me-0">
          <button class="btn btn-danger btn-sm" (click)="handleCancel()"><i class="fa-solid fa-square-xmark"></i></button>
        </div>
      </div>
    </ng-template>
  </nz-modal> -->
