<div class="row">
  <div
    class="header-container d-flex align-items-center"
    [ngStyle]="{ 'background-image': 'url(' + getHeader() + ')' }"
  >
    <span
      class="welcome-text"
      [ngClass]="{
        'text-light': theme === 'dark',
        'text-primary': theme === 'light'
      }"
    >
      RECEITAS/DESPESAS
    </span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div class="row">
          <div class="col-xl-4 col-4 text-sm">
            <div
              class="card bg-brand-light"
              [ngClass]="{
                'text-secondary': theme === 'dark',
                'text-dark': theme === 'light'
              }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-success">
                    <b class="mt-1"
                      ><i class="fa-solid fa-money-bill-wave"></i> Receitas</b
                    >
                  </div>
                  <div class="col-12 text-end">
                    <hr class="mt-0" />
                    <span class="">{{ this.formatValor(totalReceita) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-4 text-sm">
            <div
              class="card bg-brand-light"
              [ngClass]="{
                'text-secondary': theme === 'dark',
                'text-dark': theme === 'light'
              }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-danger">
                    <b class="mt-1"
                      ><i class="fa-solid fa-money-bill"></i> Despesas</b
                    >
                  </div>
                  <div class="col-12 text-end">
                    <hr class="mt-0" />
                    <span class="">{{ this.formatValor(totalDespesa) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-4 text-sm">
            <div
              class="card bg-brand-light"
              [ngClass]="{
                'text-secondary': theme === 'dark',
                'text-dark': theme === 'light'
              }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-primary">
                    <b class="mt-1"
                      ><i class="fa-solid fa-circle-dollar-to-slot"></i> Saldo</b
                    >
                  </div>
                  <div class="col-12 text-end">
                    <hr class="mt-0" />
                    <span class="">{{ this.formatValor(saldo) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-4 text-sm mt-2">
            <div
              class="card bg-brand-light"
              [ngClass]="{
                'text-secondary': theme === 'dark',
                'text-dark': theme === 'light'
              }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-success">
                    <b class="mt-1"
                      ><i class="fa-solid fa-square-plus"></i> Receber</b
                    >
                  </div>
                  <div class="col-12 text-end">
                    <hr class="mt-0" />
                    <span class="">{{ this.formatValor(totalReceber) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-4 text-sm mt-2">
            <div
              class="card bg-brand-light"
              [ngClass]="{
                'text-secondary': theme === 'dark',
                'text-dark': theme === 'light'
              }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-danger">
                    <b class="mt-1"
                      ><i class="fa-solid fa-square-minus"></i> Pagar</b
                    >
                  </div>
                  <div class="col-12 text-end">
                    <hr class="mt-0" />
                    <span class="">{{ this.formatValor(totalPagar) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-4 text-sm mt-2">
            <div
              class="card bg-brand-light"
              [ngClass]="{
                'text-secondary': theme === 'dark',
                'text-dark': theme === 'light'
              }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-primary">
                    <b class="mt-1"
                      ><i class="fa-solid fa-circle-dollar-to-slot"></i> Previsto</b
                    >
                  </div>
                  <div class="col-12 text-end">
                    <hr class="mt-0" />
                    <span class="">{{ this.formatValor(previsto) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-6 hidden-sm">
        <app-movimentacoes-grafico-ano 
          *ngIf="listMovimentacoes.length > 0" 
          [data]="listMovimentacoes"
          
          >

        </app-movimentacoes-grafico-ano>
      </div>
    </div>
  </div>
  <div class="col-12 mt-0">
    <hr />
  </div>
  <div class="col-6 d-flex justify-content-start align-items-center">
    <!-- <nz-range-picker
      class="rounded text-secondary"
      [ngClass]="{
        'bg-dark-light text-secondary': theme === 'dark',
        'bg-light text-secondary': theme === 'light'
      }"
      [(ngModel)]="date"
      (ngModelChange)="onChange($event)"
    ></nz-range-picker> -->
  </div>
  <div class="col-xl-6 col-12 d-flex justify-content-end align-items-center">
    <div class="input-group me-2 group-search">
      <span
        class="input-group-text"
        id="basic-addon1"
        [ngClass]="{
          'bg-dark-light text-secondary': theme === 'dark',
          'bg-light': theme === 'light'
        }"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar"
        [ngClass]="{
          'bg-dark-light text-secondary': theme === 'dark',
          'bg-light': theme === 'light'
        }"
        aria-label="Pesquisar"
        aria-describedby="basic-addon1"
        (input)="filtrarMovimentacoes($event)"
      />
    </div>
    <button class="btn btn-sm btn-primary hidden-sm" (click)="showMenu('N')">
      <i class="fa-solid fa-square-plus">&nbsp;</i>Novo
    </button>
  </div>
  <div class="col-12 mt-2 text-sm">
    <div
      class="card"
      [ngClass]="{
        'bg-dark-light': theme === 'dark',
        'bg-light': theme === 'light'
      }"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table
          class="table table-hover rounded border"
          [ngClass]="{
            'table-dark': theme === 'dark',
            'table-light': theme === 'light'
          }"
        >
          <thead>
            <tr>
              <th scope="col" class="text-primary"><span class="hidden-sm">Tipo</span></th>
              <th scope="col" class="text-primary">Data</th>
              <th scope="col" class="text-primary hidden-sm">Origem</th>
              <th scope="col" class="text-primary  hidden-sm">Descricao</th>
              <th scope="col" class="text-primary hidden-sm">Conta</th>
              <th scope="col" class="text-primary">Valor</th>
              <th scope="col" class="text-primary">Status</th>
              <th scope="col" class="text-primary"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of listaFiltrada
                  | paginate
                    : { itemsPerPage: currentQtde, currentPage: currentPage }
              "
            >

              <td [ngClass]="{ 'text-secondary': theme === 'dark', 'table-light': theme === 'light' }" >
                <i class="fa-solid" [ngClass]="{'fa-square-plus text-success': item.Tipo === '1','fa-square-minus text-danger': item.Tipo === '2'}"></i> 
                <span class="hidden-sm">&nbsp;{{ getTipo(item.Tipo) }}</span>
              </td>

              <td class="col-sm-table" [ngClass]="{ 'text-secondary': theme === 'dark', 'table-light': theme === 'light' }">
                <i class="fa-solid fa-calendar text-secondary"></i>&nbsp;{{ formatData(item.DataInclusao) }}
              </td>

              <td
                class=" hidden-sm"
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.Origem }}
              </td>

              <!-- <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.cliente_id.slice(0, 15) }}...
              </td> -->

              <td
                [title]="item.Descricao"
                class="hidden-sm"
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.Descricao.slice(0, 20) }}
              </td>

              <td
                class="hidden-sm"
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ item.Conta }}
              </td>

              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                {{ formatValor(item.ValorTotal) }}
              </td>

              <td
                  [ngClass]="{
                    'text-secondary': theme === 'dark',
                    'table-light': theme === 'light'
                  }"
                >
                <span>
                  <i class="fa-solid fa-dot-circle" [ngClass]="item.StatusConta === 'Pendente' ? 'text-danger' : 'text-success'"></i>
                  {{ item.StatusConta}}
                </span>
                
              </td>

              <td
                [ngClass]="{
                  'text-secondary': theme === 'dark',
                  'table-light': theme === 'light'
                }"
              >
                <div class="row">
                  <div class="col-auto m-0 p-0">
                    <button class="btn btn-sm btn-outline-danger btn-size-table" (click)="deleteMov(item.Id)">
                      <i class="fa-solid fa-trash-alt"></i>
                    </button>
                  </div>
                  <div class="col-auto m-0 p-0 ms-2">
                    <button class="btn btn-sm btn-outline-primary btn-size-table" (click)="showUpdate(item.Tipo, item)">
                      <i class="fa-solid fa-pen" ></i>
                    </button>
                  </div>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="input-group group-show-table">
              <span [ngClass]="{'bg-dark-light text-secondary': theme === 'dark', 'bg-light ': theme === 'light'}" class="input-group-text text-sm">Mostrar:</span>
              <select [ngClass]="{'bg-dark-light text-secondary': theme === 'dark', 'bg-light ': theme === 'light'}" class="form-select text-sm" id="current" (change)="changeQtde($event)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
          <div class="col-xl-6 col-12 mt-4 mt-xl-0">
            <pagination-controls
              (pageChange)="currentPage = $event"
              class="text-light text-center"
              previousLabel="Anterior"
              nextLabel="Próximo"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-movimentacoes [statusModal]="isVisibleMov" 
[catMov]="catType" 
[typeMov]="movType"
[snUpdate]="isUpdate"
[dataUpdate]="dataForUpdate"
(closeEvent)="closeMov($event)"
(saveSuccess)="loadMovimentacoes(); handleOk();"
></app-movimentacoes>

<nz-modal 
    [(nzVisible)]="isVisible" 
    [nzTitle]="header"
    [nzFooter]="null"
    nzCloseIcon=""
    (nzOnCancel)="handleCancel()" 
    (nzOnOk)="handleOk()"
 >
    <ng-container *nzModalContent>
      <div class="row bg-dark pe-4 ps-4" [ngClass]="{'bg-dark  text-secondary': theme === 'dark', 'bg-light text-dark': theme === 'light'}">
        <div class="col-12 mb-5">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <button class="btn btn-lg btn-outline-primary" 
                    (click)="showMov(1)"><i class="fa-solid fa-money-bill-1"></i> 
                    Simples</button>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <button class="btn btn-lg btn-outline-primary" 
                      (click)="showMov(2)"><i class="fa-regular fa-money-bill-1"></i> 
                      Parcelada
                    </button>
                </div>
            </div>
        </div>
      </div>
    </ng-container>
    <ng-template #header>
      <div class="row bg-dark p-4"  [ngClass]="{'bg-dark  text-secondary': theme === 'dark', 'bg-light text-dark': theme === 'light'}">
        <div class="col-10 d">
          Selecione um tipo de movimentação!
        </div>
        <div class="col-2 d-flex justify-content-end pe-0 me-0">
          <button class="btn btn-danger btn-sm" 
            (click)="handleCancel()"><i class="fa-solid fa-square-xmark"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </nz-modal>
<button class="btn btn-primary shadow float-btn-1 hidden-xl" (click)="showMenu('N')" ><i class="fa-solid fa-square-plus"></i></button>